.pTitle {
	text-align: center;
	font-family: consolas;
}

.roundPContainer {
	margin-left:10%;
	width: 80%;
	height: 80%;
	text-align: center;
	border: 1px solid blue;
	border-radius: 6px;
	background-color: lightsteelblue;
	overflow: hidden;
	position: absolute;
}

.roundPTable {
	border: 1px solid steelblue;
	border-radius: 50%;
	position: relative;
	background-color: peru;
}

.pplayer,.pcard {
	position: absolute;
}

.tableContainer {
	height: 100%;
    width: 100%;
    display: table;
    position: absolute;
}

.communityPadder {
	display: table-cell;
    vertical-align: middle;
}

#commCell{
	margin: auto;
}

.communityDeckCard {
	display: table-cell;
	margin: auto;
}